<html>
<head>
  <link rel="stylesheet" href="../../styles/style.css">
  <link rel="stylesheet" href="../../styles/custom.css">
</head>
<body>

<script src="../../js/3p/prefixfree.min.js"></script>
<script src="../../js/3p/jquery-1.10.2.min.js"></script>
<script src="../../js/3p/translate3d.js"></script>
<script src="../../js/game.js"></script>
<script src="../../js/card.js"></script>


<button id="flip-btn">Flip</button><br>

<div id="tridiv">
  <div class="scene"></div>
</div>
</body>
