html, body {
  height: 100%;
}

body {
  background-color: #aaa;
  overflow: hidden;
}

body > .wrapper {
  position: absolute;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  z-index: 1;
}

body.dark-wood {
  background-color: #B17E7E;
}

body.denim {
  background-color: #1A2B4E;
}

body.wave-grid > .wrapper {
  background-image:url("./../images/wavegrid.png");
}

body.dark-wood > .wrapper {
  background-image:url("./../images/dark_wood.png");
}

body.denim > .wrapper {
  background-image:url("./../images/denim.png");
}

body.dark-wood .card, body.denim .card {
  box-shadow: #333 1px 2px 4px
}

body.dark-wood .card.flipped, body.denim .card.flipped {
  box-shadow: #333 1px 2px 4px
}

.face .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  pointer-events: none;
}

.game-panel {
  position: absolute;
  left: 19%;
  top: 15px;
  z-index: 2;
}

.card {
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  height: 100px;
  width: 100px;
  box-shadow: #888 -1px 2px 4px;
  border-radius: 5px;
}

.card.flipped {
  box-shadow: #888 1px 2px 4px;
}

.face {
  border-radius: 5px;
}

.face.bk {
  background-color: #5bbda6;
}

.shape {
  margin: 0
}

.card-container {
  position: absolute;
}

.fa.card-symbol {
  line-height: 100px;
  width: 100px;
  text-align: center;
}
