.panel {
  position: absolute;
  top: 15px;
  left: 15px;
}

.card {
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  height: 100px;
  width: 100px;
}

.shape {
  margin: 0
}

.card-container {
  position: absolute;
}

.fa.card-symbol {
  line-height: 100px;
  width: 100px;
  text-align: center;
}
