.menu-panel {
  width: 200px;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  z-index: 4;
  box-shadow: inset #888 -2px -2px 56px;
  border-radius: 0;
  border: none;
  border-right: 1px solid #888;
  left: -175px;
  transform: translate3d(0,0,0); /* http://stackoverflow.com/questions/5472802/css-z-index-lost-after-webkit-transform-translate3d */
}

.menu-container {
  width: 185px;
  height: 100%;
  padding: 12px;
  position: absolute;
}

.panel-toggle {
  text-transform: uppercase;
  position: absolute;
  cursor: pointer;
  left: 153px;
  color: #333;
  opacity: 0.8;
}

.menu-panel .panel-toggle.settings-btn {
  transform: rotate(-90deg);
  top: 45%;
} 

.slideIn {
  animation-fill-mode: both;
  transition: transform 0.7s;
  transform: translateX(175px);
}

.slideOut {
  animation-fill-mode: both;
  transition: transform 0.7s;
  transform: translateX(0px);
}

.background-option {
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-top: -5px;;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.background-option.selected {
  /*background-color: #ccc;*/
}

.background-option:hover {
  /*background-color: #eee;*/
}

.background-sample {
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px;
}

.background-sample .wrapper {
  height: 100%;
  width: 100%;
  background-size: 80px 80px;
  opacity: 0.6;
}

.background-label {
  float: left;
  height: 40px;
  line-height: 40px;
  margin: 5px;
}

.background-label span {
  margin: 5px;
}
