.menu-panel {
  width: 20%;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  z-index: 2;
  box-shadow: inset #888 -2px -2px 56px;
  border-radius: 0;
}

.menu-container {
  width: 100%;
  height: 100%;
}

.menu-panel.closed {
  cursor: pointer;
}

.panel-toggle {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  cursor: pointer;
}

.menu-panel .panel-toggle.hide-btn {
  position: relative;
} 

.menu-panel .panel-toggle.settings-btn {
  transform: rotate(-90deg);
  top: 45%;
} 

body.panel-hide .menu-panel .panel-toggle.settings-btn {
  display: inline-block;
}

body.panel-hide .menu-panel .panel-toggle.hide-btn {
  display: none;
}

body:not(.panel-hide) .menu-panel .panel-toggle.settings-btn {
  display: none;
}

body:not(.panel-hide) .menu-panel .panel-toggle.hide-btn {
  display: block;
}

body.panel-hide .menu-item {
  display: none;
}

body:not(.panel-hide) .menu-item {
  display: block;
}

.background-option {
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-top: -5px;;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.background-option.selected {
  background-color: #ccc;
}

.background-option:hover {
  /*background-color: #eee;*/
}

.background-sample {
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px;
  background-size: 80px 80px;
}

.background-label {
  float: left;
  height: 40px;
  line-height: 40px;
  margin: 5px;
}

.background-label span {
  margin: 5px;
}

.background-option.dark-wood .background-sample {
  background-image:url("./../images/dark_wood.png");
}

.background-option.wave-grid .background-sample {
  background-image:url("./../images/wavegrid.png");
}
