body.dark-wood,
.theme-option.dark-wood .theme-sample {
  background-color: #B17E7E;
}

body.denim,
.theme-option.denim .theme-sample {
  background-color: #1A2B4E;
}

body,
.theme-option.wave-grid .theme-sample {
  background-color: #AAA;
}

body.wave-grid > .wrapper,
.theme-option.wave-grid .theme-sample .wrapper {
  background-image:url("./../images/wavegrid.png");
  opacity: 0.6;
}

body.dark-wood > .wrapper,
.theme-option.dark-wood .theme-sample .wrapper {
  background-image:url("./../images/dark_wood.png");
  opacity: 0.6;
}

body.denim > .wrapper,
.theme-option.denim .theme-sample .wrapper {
  background-image:url("./../images/denim.png");
  opacity: 0.6;
}

body.honeycomb > .wrapper,
.theme-option.honeycomb .theme-sample .wrapper {
  background-image:url("./../images/honeycomb.png");
  opacity: 1;
}

body.dark-wood .card, body.denim .card, body.honeycomb .card {
  box-shadow: #333 1px 2px 4px
}

body.dark-wood .card.flipped, body.denim .card.flipped, body.honeycomb .card.flipped {
  box-shadow: #333 1px 2px 4px
}

body.honeycomb .card .face.bk {
  background-color: #855727;
}
